.app__works{
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__work-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 4rem 0 2rem;

    &-item{
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover{
            background-color: var(--secondary-color);
            color: #fff;
        }

        @media screen and (min-width: 2000px){
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active{
        background-color: var(--secondary-color);
        color: #fff;
    }
}

.app__work-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .app__work-item{
        width: 370px;
        flex-direction: column;
        margin: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.2);
        }

        .app__work-img{
            width: 100%;
            height: 200px;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
            }

            .app__work-hover{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: rgba($color: #000000, $alpha: 0.7);
                border-radius: 0.5rem;
                transition: all 0.3s ease;

                div{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    color: #fff;

                    margin: 1rem;
                    font-family: var(--font-base);
                    font-weight: 800;
                    cursor: pointer;

                    svg{
                        width: 50%;
                        height: 50%;
                        color: var(--white-color);
                    }
                }
            }
        }

        .app__work-content.app__flex{
            align-items: flex-start;
        }

        .app__work-content{
            padding: 0.5rem;
            width: 100%;
            position: relative;
            flex-direction: column;

            h4{
                margin-top: 1rem;
                line-height: 1.5;
            }

            .app__work-tag{
                position: absolute;
                padding: 0.5rem 1rem;
                background-color: #fff;
                border-radius: 10px;
                top: -28px;
            }

            .stack{
                margin-top: 10px;
            }

            .mobile-links{
                display: none;
                align-items: center;
                justify-content: flex-start;
                margin-top: 15px;

                svg{
                    color: rgb(65, 64, 64);
                    margin-right: 20px;
                    font-size: 25px;
                }
            }
        }

        @media screen and (min-width: 2000px) {
            width: 800px;
            height: 100%;
            padding: 1.25rem;
            border-radius: 0.75rem;

            .app__work-img{
                height: 100%;
            }
        }
        
        @media screen and (max-width: 930px) {
            width: 100%;

            .app__flex{
                .bold-text{
                    font-size: 1.2rem;
                }

                .p-text{
                    font-size: 18px;
                }
            }

            .app__work-img{
                height: 100%;
            }

            .app__work-content{
                .mobile-links{
                    display: flex;
                }
            }
        }
        
        @media screen and (max-width: 500px) {
            margin: 2rem 0;
            padding: 0;
            background-color: transparent;
        }
    }
}
